h1{
    text-align: center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
    color: black;
}

h2{
    text-align: center;
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
}

